<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="db86715a-7942-4d49-9eb0-df3f49ea7677" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="db86715a-7942-4d49-9eb0-df3f49ea7677fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
